@model IEnumerable<Hibernate.Models.Participant>
@{
    ViewData["Title"] = "Group Leader Page";
}







<div class="text-center">
    <h1>Group Leader Dashboard</h1>
</div>

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="GroupLeader" asp-action="Index" class="btn btn-info btn-outline-light">Dashboard</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="List" class="btn btn-dark btn-outline-info">Participant List</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="Pending" class="btn btn-dark btn-outline-info">Pending Users</a>
        </li>
    </ul>
</div>

<br />
<br />


<div class="container-fluid">
    <table class="table table-striped border" id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
        <thead>
            <tr>
                <th data-field="firstName" data-sortable="true">
                    Name
                </th>

                <th data-field="bedSheets" data-sortable="true">
                    Bed Sheets
                </th>
                <th data-field="pillowCases" data-sortable="true">
                    Pillow Cases
                </th>
                <th data-field="amountRaised" data-sortable="true">
                    Amount Raised
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.BedSheets
                </td>
                <td>
                    @item.PillowCases
                </td>
                <td style="vertical-align: top; text-align:right">
                    @item.Total.ToString("C")
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>