@model IEnumerable<Hibernate.Models.ViewModels.ApplicationUser>
@{
    ViewData["Title"] = "Group Leader Page";
}







<div class="text-center">
    <h1>Group Leader Dashboard</h1>
</div>

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="GroupLeader" asp-action="Index" class="btn btn-info btn-outline-light">Dashboard</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="List" class="btn btn-dark btn-outline-info">Participant List</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="Pending" class="btn btn-dark btn-outline-info">Pending Users</a>
        </li>
    </ul>
</div>
