@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">You must be approved by an admin or your group's leader first.</h3>
<h3 class="text-center">You will receive an email once you have been approved.</h3>

