@model Hibernate.Models.ViewModels.ApplicationUser
<h1 class="text-info">Edit User</h1>
<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="Edit">
            <input asp-for="@Model.Id" hidden />
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" readonly class="form-control" />
                <input asp-for="Email" hidden class="form-control" />
                @*can check if email has been used but needs to be implemented*@
                @*<span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <!--<div class="form-group">
                <label asp-for="RoleId"></label>-->
            @*Might be form select with the newer bootstrap*@
            <!--<select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control">
                    <option disabled selected>--Select Role--</option>
                </select>
            </div>-->
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
                @*link to go back*@
                <a asp-action="list" class="btn btn-warning" style="width:auto">Back to User</a>
            </div>
        </form>
    </div>
</div>
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">

        <li>
            <a asp-controller="GroupLeader" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
        </li>

        <li>
            <a asp-controller="Participant" asp-action="List" class="btn btn-info btn-outline-light">Participant List</a>
        </li>
        <li>
            <a asp-controller="Participant" asp-action="Pending" class="btn btn-dark btn-outline-info">Pending Users</a>
        </li>
    </ul>
</div>
