@model IEnumerable<Hibernate.Models.ViewModels.ApplicationUser>
@{
    ViewData["Title"] = "Participant Page";
}



<div class="text-center">
    <h1>Participant Dashboard</h1>
</div>

<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">        

        <li>
            <a asp-controller="Participant" asp-action="SupList" class="btn btn-dark btn-outline-info">Supporters List</a>
        </li>
    </ul>
</div>

