@model Hibernate.Models.Group
@inject Microsoft.AspNetCore.Identity.SignInManager<Hibernate.Models.ViewModels.ApplicationUser> signInManager
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin"))
{
    <div class="sidebar-container border-info">
        <div>
            <br />
            <div class="text-center">Quick Actions</div>
            <br />
        </div>

        <ul class="sidebar-navigation">
            <li>
                <a asp-controller="Admin" asp-action="Index" class="btn btn-dark btn-outline-info">
                    Dashboard
                </a>
            </li>
            <li>
                <a asp-controller="Unapprovedusers" asp-action="Index" class="btn btn-dark btn-outline-info">
                    Pending Approval
                </a>
            </li>
            <li>
                <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
            </li>
            <li>
                <a asp-controller="Groups" asp-action="AdminIndex" class="btn btn-info btn-outline-light">Groups List</a>
            </li>
            <li>
                <a a asp-controller="Roles" asp-action="Index" class="btn btn-dark btn-outline-info">Roles List</a>
            </li>
        </ul>
    </div>
}

@if (User.IsInRole("Sales Rep"))
{
    <div class="sidebar-container border-info">
        <div>
            <br />
            <div class="text-center">Quick Actions</div>
            <br />
        </div>

        <ul class="sidebar-navigation">
            <li>
                <a asp-controller="SalesRep" asp-action="Index" class="btn btn-dark btn-outline-info">Dashboard</a>
            </li>
            <li>
                <a asp-controller="Groups" asp-action="SRIndex" class="btn btn-info btn-outline-light">Groups List</a>
            </li>
        </ul>
    </div>
}


<h2 class="text-center">Edit a Group</h2>
<br />
<div id="centerform1">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GroupId" />
        <div class="form-group row">
            <div class="col-lg-12">
                <label asp-for="Name" class="control-label">Group Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <label asp-for="Address" class="control-label">Address:</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="City" class="control-label">City:</label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label asp-for="State" class="control-label">State:</label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>

        <br />
        @if (User.IsInRole("Admin"))
        {
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Update">
                <a asp-action="AdminIndex" class="btn btn-warning" style="width:auto">Back to List</a>
            </div>
        }
        @if (User.IsInRole("Sales Rep"))
        {
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Update">
                <a asp-action="SRIndex" class="btn btn-warning" style="width:auto">Back to List</a>
            </div>
        }
    </form>

</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
