@model Hibernate.Models.Group

@{
    ViewData["Title"] = "Create a Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="margin-left:50px">Create a Group</h2>
<br />
<div style="border: 1px solid; border-color: lightgray; width: 450px; margin: 0 auto;padding-left:20px">
    <br />
    <br />
    <form method="post" asp-action="SRCreate" asp-controller="Groups">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" placeholder="Group Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" placeholder="Street Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div class="form-group">
            <div class="col-md-6">
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

        </div>
        <br />
        <div class="form-group">
            <div class="col-md-6">
                <input asp-for="State" class="form-control" placeholder="State" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

        </div>
        <br />
        
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Create Group" class=" btn btn-success" />
            </div>
        </div>

    </form>
    <div class="text-center">
        <a asp-action="SRIndex">Back to List</a>
    </div>
    <br />
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

