@model IEnumerable<Hibernate.Models.ViewModels.ApplicationUser>
@{
    ViewData["Title"] = "Admin Page";
}





<h2 class="text-center">Admin Overview</h2>
<br />
<div class="sidebar-container border-info">
    <div>
        <br />
        <div class="text-center">Quick Actions</div>
        <br />
    </div>

    <ul class="sidebar-navigation">
        @*<li>
                <a asp-action="Send" class="btn btn-dark btn-outline-info">Send Message </a>
            </li>*@
        <li>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-info btn-outline-light">
                Dashboard
            </a>
        </li>
        <li>
            <a asp-controller="Unapprovedusers" asp-action="Index" class="btn btn-dark btn-outline-info">
                Pending Approval
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="Index" class="btn btn-dark btn-outline-info">Users List</a>
        </li>
        <li>
            <a asp-controller="Groups" asp-action="AdminIndex" class="btn btn-dark btn-outline-info">Groups List</a>
        </li>
        <li>
            <a a asp-controller="Roles" asp-action="Index" class="btn btn-dark btn-outline-info">Roles List</a>
        </li>
        @*<li>
                <a asp-controller="expiredpass" asp-action="Index" class="btn btn-dark btn-outline-info">Expired Passwords List</a>
            </li>*@
    </ul>
</div>


