@model Hibernate.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Create a Participant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="margin-left:50px">Create a Participant</h2>
<br />
<div style="border: 1px solid; border-color: lightgray; width: 500px; margin: 0 auto;">
    <br />
    <form method="post" asp-action="CreateParticipant" asp-controller="User">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-xs-2">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div>&nbsp;</div>
            <div class="col-xs-2">
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-md-8">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-md-8">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-md-8">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="col-md-6">
                <select asp-for="GroupSelected" asp-items="@ViewBag.Users" class="form-control">
                    <option disabled selected>--Select a Group--</option>
                </select>
            </div>

        </div>


        <div class="form-group">
            <div class=" col-md-10 offset-md-2">
                <input type="submit" value="Create Participant" class=" btn btn-success" />
            </div>
        </div>

    </form>
    <div class="col-md-10 offset-md-2">
        <a asp-action="Index">Back to List</a>
    </div>
    <br />
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

