@model Hibernate.Models.ViewModels.ApplicationUser
<h2 class="text-center">Edit User</h2>

<div id="centerform1">
    <form method="post" asp-action="Edit">
        <input asp-for="@Model.Id" hidden />
        
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="LastName">Last Name:</label>
                <input asp-for="LastName" class="form-control" />
            </div>

        </div>
        
        <div class="form-group row">
            <div class="col-lg-12">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" readonly class="form-control" />
                <input asp-for="Email" hidden class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <label asp-for="RoleId">Role:</label>
                @*Might be form select with the newer bootstrap*@
                <select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control">
                    <option disabled selected>--Select Role--</option>
                </select>
            </div>
           
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-success">Update</button>
            @*link to go back*@
            <a asp-action="Index" class="btn btn-warning" style="width:auto">Back to User</a>
        </div>
    </form>
</div>





